imageio
imagesize
matplotlib
numpy
numpydoc
pandas
python-dateutil
scikit-image
scikit-learn
scipy
seaborn
tensorboard
tensorboard-logger
torch~=1.13.1
torchfile
torchvision
visdom

opencv-python~=4.7.0.68
tensorflow==2.8.0